/* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-x: hidden;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-x: hidden;
    background-image: url(../Image/red\ and\ black\ wallpaper.jpeg);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    z-index: -1;
}

.nav-bar{
    /* background-color:black; */
    margin-top: 10px;
    height: 120px;
    display: flex;
}

.logo{
    padding-left: 20px;
    padding-top: 10px;
}

.logo img{
    width: 70px;
    border-radius: 60px;
    margin-right: 10px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 15px;
    padding-top: 20px;
}

.menu a{
    color: rgb(186, 186, 186);
    text-decoration: none;
    margin-left: 15px;
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
}

ul .home{
    color: goldenrod !important;
    font-size: 20px;
}


.toggle{
    display: none;
}

hr{
    display: none;
}



/* Container */

.line{
    background-color: white;
    color: white;
    margin-bottom: 10px;
    height: 2px;
    width: 980px;
    position: absolute;
    top: 150px;
    right: 0px;
}

.line-two{
    background-color: white;
    color: blanchedalmond;
    height: 2px;
    width: 140px;
    position: absolute;
    top: 180px;
}


.heading{
    color: white;
    padding-left: 30px;
}

.heading h1{
    /* color: goldenrod; */
}

.heading h2{
    padding-left: 120px;
}

.past-prin{
    color: white;
    /* background-color: red; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 20px;
    background-color: black;
    z-index: 1;
    padding-bottom: 20px;
}

.principal-note{
    /* background-color: green; */
    padding-left: 40px;
    line-height: 30px;
    padding-top: 40px;
    color: wheat;
    font-size: 13px;
    z-index: 1;
}

.principal-table{
    background-color: blue;
    padding-left: 20px;
}


table{
    border: 2px solid white;
    padding: 5px;
    margin-left: 30px;
    height: 270px;
    margin-top: 25px;
}

th{
    border: 2px solid white;
    padding: 8px;
}

tr{
    border: 2px solid white;
    padding: 8px;

}

td{
    border: 2px solid white;
    padding: 8px;

}

.profile{
    border-radius: 80px;
    /* background-color: black; */
    margin-left: 30px;
    margin-right: 50px;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 70px;
}

.profile-bio{
    line-height: 30px;
    color: wheat;
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 30px;
}

.profile-bio p{
    display: none;
}


.note{
    margin-top: 70px;
    padding-left: 20px;
}

.image img{
    width: 400px;
    margin-top: 100px;
    padding-left: 50px;
    border-radius: 120px;
}

.abdul{
    margin-left: 80px;
}


.note p{
    color: wheat;
    padding-left: 30px;
    line-height: 30px;
    font-size: 16px;
    margin-top: 50px;
    display: none;
}

h4{
    margin-top: 175px;
    color: wheat;
}

.note h4{
    margin-left: 80px;
    margin-top: 250px;
}

.profile-picture{
    padding-left: 90px;
    padding-top: 30px;
    z-index: 1;
}

.profile-picture img{
    width: 400px;
    z-index: 1;
    border-radius: 80px;
}






/* Footer */

.footer{
    background-color: black;
    height: 160px;
    margin-top: 120px;
    border-radius: 10px;
    color: white;
}

.footer a{
    color: white;
    margin-right: 5px;
    margin-left: 5px;
    text-decoration: none;
}

.footer a:hover{
    color: maroon;
}

.footer .uno{
    display: flex;
    margin-left: 570px;
    margin-top: 20px;
}

.footer .duos{
    display: flex;
    margin-left: 450px;
    margin-top: 10px;
}

.footer .trio{
    display: flex;
    margin-left: 415px;
    margin-top: 10px; 
}

.copyright{
    padding-left: 580px;
    padding-top: 40px;
    color: grey !important;
}


