

@media screen and (max-width:1024px) {
    /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 120px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 1024px;
}

.logo{
    padding-left: 10px;
    padding-top: 19px;
}

.logo img{
    width: 80px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 30px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 95px;
    background-color: white;
    width:1024px;
    height: 890px;
    line-height: 35px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 30px;
}

.toggle{
    position: absolute;
    right: 50px;
    display: block;
}

.hamburger{
    padding-top: 33px;
    width: 75px;
    display: block;
}

.cancel{
    width: 45px;
    display: none;
    padding-top: 30px;
}

/* Container */

.heading h2{
    color: wheat;
    margin-left: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 140px;
    font-size: 35px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 470px;
    height: 470px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


/* Footer */

.footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;

}

.footer .trio{
    display: none;

}

.copyright{
    padding-left: 440px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}

    
}























@media screen and (max-width:912px) {
     /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 105px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 1024px;
}

.logo{
    padding-left: 10px;
    padding-top: 15px;
}

.logo img{
    width: 80px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 20px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 95px;
    background-color: white;
    width:1024px;
    height: 890px;
    line-height: 15px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 20px;
}

.toggle{
    position: absolute;
    right: 150px;
    display: block;
}

.hamburger{
    padding-top: 33px;
    width: 75px;
    display: block;
}

.cancel{
    width: 45px;
    display: none;
    padding-top: 30px;
}

/* Container */

.heading h2{
    color: wheat;
    margin-left: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 120px;
    font-size: 28px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 470px;
    height: 470px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


 /* Footer */

 .footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;

}

.footer .trio{
    display: none;

}

.copyright{
    padding-left: 380px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}
}



















@media screen and (max-width:852px) {

    /* Navigation Bar */

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 90px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 852px;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
}

.logo img{
    width: 70px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 80px;
    background-color: white;
    width:852px;
    height: 890px;
    line-height: 20px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 40px;
    display: block;
}

.hamburger{
    padding-top: 25px;
    width: 60px;
    display: block;
}

.cancel{
    width: 45px;
    display: none;
    padding-top: 15px;
}

/* Container */

.heading h2{
    color: wheat;
    margin-left: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 120px;
    font-size: 28px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 470px;
    height: 470px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


 /* Footer */

 .footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;

}

.footer .trio{
    display: none;

}

.copyright{
    padding-left: 360px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}

    
}



















@media screen and (max-width:820px) {
    /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 100px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 820px;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
}

.logo img{
    width: 70px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 70px;
    background-color: white;
    width:820px;
    height: 890px;
    line-height: 20px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 40px;
    display: block;
}

.hamburger{
    padding-top: 25px;
    width: 60px;
    display: block;
}

.cancel{
    width: 45px;
    display: none;
    padding-top: 15px;
}

/* Container */

.heading h2{
    color: wheat;
    margin-left: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 120px;
    font-size: 28px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 470px;
    height: 470px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


 /* Footer */

 .footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;

}

.footer .trio{
    display: none;

}

.copyright{
    padding-left: 320px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}
}














@media screen and (max-width:768px) {
      /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 90px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 770px;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
}

.logo img{
    width: 60px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 70px;
    background-color: white;
    width: 770px;
    height: 890px;
    line-height: 25px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 20px;
    display: block;
}

.hamburger{
    padding-top: 25px;
    width: 60px;
    display: block;
}

.cancel{
    width: 45px;
    display: none;
    padding-top: 15px;
}


/* Container */

.heading h2{
    color: wheat;
    margin-left: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 120px;
    font-size: 28px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 470px;
    height: 470px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


   /* Footer */

   .footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;

}

.footer .trio{
    display: none;

}

.copyright{
    padding-left: 320px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}

}




















@media screen and (max-width:540px) {
    
      /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 85px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 540px;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
}

.logo img{
    width: 60px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 20px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 70px;
    background-color: white;
    width: 540px;
    height: 1290px;
    line-height: 25px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 20px;
}

.toggle{
    position: absolute;
    right: 20px;
    display: block;
}

.hamburger{
    padding-top: 24px;
    width: 55px;
    display: block;
}

.cancel{
    width: 40px;
    display: none;
    padding-top: 16px;
}

/* Container */

.heading h2{
    color: wheat;
    margin-left: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 120px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 390px;
    height: 390px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 35px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


/* Footer */

.footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;

}

.footer .trio{
    display: none;

}

.copyright{
    padding-left: 220px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}

}




































@media screen and (max-width:430px) {

    /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 75px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 430px;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
}

.logo img{
    width: 55px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 70px;
    background-color: white;
    width: 430px;
    height: 890px;
    line-height: 20px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 20px;
    display: block;
}

.hamburger{
    padding-top: 20px;
    width: 55px;
    display: block;
}

.cancel{
    width: 45px;
    display: none;
    padding-top: 10px;
}



/* Container */

.heading h2{
    color: wheat;
    margin-left: 25px;
    padding-bottom: 20px;
    padding-left: 0px;
    margin-top: 120px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 370px;
    height: 350px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


/* Footer */

.footer{
    background-color:white;
    height: 150px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: 30px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    color: black;
    text-decoration: none;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-top: 20px;
}

.footer .duos{
    padding-left: 10px;
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    padding-right: 30px;
}

.footer .trio{
    display: block;
    margin-left: 0px;
    margin-top: 0px; 
    display: block;
    position: absolute;
    right: 20px;
    top: 20px;
    padding-bottom: 40px;
}

.copyright{
    padding-left: 140px;
    padding-bottom: -200px;
    color: goldenrod !important;
    margin-top: -30px;
}

.footer hr{
    display: none;
}


    
}
















/* iphone XR */

@media screen and (max-width:414px) {

   /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 75px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 414px;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
}

.logo img{
    width: 55px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 17px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 70px;
    background-color: white;
    width: 414px;
    height: 790px;
    line-height: 25px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 20px;
    display: block;
}

.hamburger{
    padding-top: 20px;
    width: 55px;
    display: block;
}

.cancel{
    width: 45px;
    display: none;
    padding-top: 10px;
}





/* Container */

.heading h2{
    color: wheat;
    margin-left: 15px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 120px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 350px;
    height: 350px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;
}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


/* Footer */

.footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;

}

.footer .trio{
    display: none;
}

.copyright{
    padding-left: 140px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}

}

















@media screen and (max-width:412px) {
    
    /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 75px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 414px;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
}

.logo img{
    width: 55px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 70px;
    background-color: white;
    width: 414px;
    height: 915px;
    line-height: 20px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 20px;
    display: block;
}

.hamburger{
    padding-top: 20px;
    width: 55px;
    display: block;
}

.cancel{
    width: 45px;
    display: none;
    padding-top: 10px;
}



/* Container */

.heading h2{
    color: wheat;
    margin-left: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 120px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 350px;
    height: 350px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;
    margin-left: 0px;


}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


/* Footer */

.footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;
}

.footer .trio{
    display: none;
}

.copyright{
    padding-left: 140px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}



}











/* iphone 12 pro */

@media screen and (max-width:390px) {

  /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 70px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 414px;
}

.logo{
    padding-left: 10px;
    padding-top: 10px;
}

.logo img{
    width: 55px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 70px;
    background-color: white;
    width: 414px;
    height: 790px;
    line-height: 20px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 45px;
    display: block;
}

.hamburger{
    padding-top: 20px;
    width: 50px;
    display: block;
}

.cancel{
    width: 40px;
    display: none;
    padding-top: 15px;
}



/* Container */

.heading h2{
    color: wheat;
    margin-left: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    margin-top: 120px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 350px;
    height: 350px;
    z-index: 1;
    padding-left: 12px;
    margin-left: 0px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


/* Footer */

.footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    display: none;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;
}

.footer .trio{
    display: none;
}

.copyright{
    padding-left: 130px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}


}













@media screen and (max-width:360px) {

    /* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 65px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 414px;
}

.logo{
    padding-left: 10px;
    padding-top: 7px;
}

.logo img{
    width: 50px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 60px;
    background-color: white;
    width: 414px;
    height: 790px;
    line-height: 20px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 75px;
    display: block;
}

.hamburger{
    padding-top: 15px;
    width: 50px;
    display: block;
}

.cancel{
    width: 35px;
    display: none;
    padding-top: 10px;
}




/* Container */

.heading h2{
    color: wheat;
    margin-left: 15px;
    padding-bottom: 10px;
    padding-left: 0px;
    margin-top: 120px;
    padding-right: 15px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 300px;
    height: 300px;
    z-index: 1;
    padding-left: 22px;
    margin-left: 0px;

}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


/* Footer */

.footer{
    background-color:rgb(252, 250, 250);
    height:40px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: -20px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    display: none;
}

.footer a:hover{
    display: none;
}

.footer .uno{
    display: none;
}

.footer .duos{
    display: none;
}

.footer .trio{
    display: none;
}

.copyright{
    padding-left: 120px;
    padding-bottom: -200px;
    color: black !important;
    margin-top: -30px;
    font-style: italic;
}

.footer hr{
    display: none;
}



}



















@media screen and (max-width:344px) {
/* Navigation Bar */


*{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
}

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-bar{
    margin-top: 0px;
    height: 60px;
    display: flex;
    background-color: white;
    position: fixed;
    z-index: 2;
    width: 414px;
}

.logo{
    padding-left: 10px;
    padding-top: 7px;
}

.logo img{
    width: 45px;
    border-radius: 60px;
    margin-right: 5px;
}

.menu ul{
    display: flex;
    align-items: center;  
    justify-content: center;
    float:right;
    padding-bottom: 20px;
    margin-left: 80px;
    font-size: 18px;
    padding-top: 20px;
    display: none;
    position: fixed;
    left: -80px;
    top: 60px;
    background-color: white;
    width: 414px;
    height: 790px;
    line-height: 20px;
}

hr{
    display: block;
}

.menu a{
    color: black;
    text-decoration: none;
    margin-left: 15px;
    
}

.menu a:hover{
    color: white !important;
}

.background img{
    position: absolute;
    width: 850px;
    border-radius: 480px;
    top: 100px;
    left: 210px;
    opacity: 0.2;
    z-index: -1;
    display: none;
}

ul .home{
    color: goldenrod !important;
    font-size: 22px;
}

.toggle{
    position: absolute;
    right: 95px;
    display: block;
}

.hamburger{
    padding-top: 18px;
    width: 40px;
    display: block;
}

.cancel{
    width: 30px;
    display: none;
    padding-top: 15px;
}



/* Container */

.heading h2{
    color: wheat;
    margin-left: 0px;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-top: 120px;
    font-size: 25px;
    padding-right: 10px;
   
}

.heading span{
    font-size: 40px;
    color:olivedrab;

}

.history-content{
    display: grid;
    grid-template-columns: 1fr;
    padding-top: 20px;
}

.history{
    padding-left: 0px;
    margin-left: 10px;
    z-index: 1;
    color: white;
    line-height: 25px !important;
}

.history img{
    width: 270px;
    height: 270px;
    z-index: 1;
    padding-left: 2px;
    margin-left: 20px;
}

.history p{
    color: white;
    padding-right: 30px;
    padding-top: 20px;
    line-height: 35px;
    margin-right: 10px;

}


ul{
    padding-top: 20px;
}

ul li{
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
   
}

.search{
    background-color: rgb(124, 19, 19);
    border-left-color:red ;
    margin-top: 0px;
    border-radius: 30px;
    margin-right: 20px;
    display: none;
}

.search h2{
    color: white;
    padding-left: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.search input{
    margin-left: 40px;
    padding: 7px 90px 7px 0px;
    outline: none;
}

.search button{
    margin-left: 40px;
    margin-top: 5px;
    padding: 4px 4px 4px 4px;
}

.socials{
    color: white;
    padding-left: 40px;
    margin-top: 500px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.socials img{
    width: 25px;
    margin-right: 20px;
    padding-top: 0px;
}


/* Footer */

.footer{
    background-color:white;
    height: 150px;
    overflow: hidden;
    padding-bottom: 0px;
    margin-top: 30px;
    border-radius: 0px;
    color: black;
    position: relative;
}

.footer a{
    color: black;
    text-decoration: none;
    margin-bottom: 0px;
    margin-bottom: 0px;
}

.footer a:hover{
    color: maroon;
    padding-right: 20px;
}

.footer .uno{
    display: inline-block;
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: -20px;
    padding-left: 10px;
    padding-top: 20px;
}

.footer .duos{
    padding-left: 10px;
    display: block;
    margin-left: 0px;
    margin-top: 0px;
    padding-right: 30px;
}

.footer .trio{
    display: block;
    margin-left: 0px;
    margin-top: 0px; 
    display: block;
    position: absolute;
    right: 10px;
    top: 20px;
    padding-bottom: 40px;
}

.copyright{
    padding-left: 110px;
    padding-bottom: -200px;
    color: goldenrod !important;
    margin-top: -30px;
}

.footer hr{
    display: none;
}


    
}